<div class="bg-dark text-white border-end" id="sidebar-wrapper" style="min-width: 250px; min-height: 100vh;">
    <div class="sidebar-heading border-bottom p-3 fs-5 fw-bold bg-dark text-center text-primary">
        Beta SNAP Portal
    </div>
    <div class="list-group list-group-flush">
        <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-dark text-white border-0 py-3 px-4">
            Dashboard Home
        </a>
        <a asp-controller="Report" asp-action="Applicants" class="list-group-item list-group-item-action bg-dark text-white border-0 py-3 px-4">
            Applicant Master
        </a>
    </div>
</div>